:root {
  font-family: 'Public Sans', sans-serif;

  color-scheme: light dark;
  --color: rgba(41, 41, 41, 0.952);
  --color-nucleo: rgb(8, 126, 237);
  --color-nucleo-1: rgb(0, 168, 221);
  --color-link: rgba(88, 88, 88, 0.808);
  --color-back: #fafafa;
  --color-black:rgb(0, 0, 0);
  --color-grey:rgb(230, 230, 230);
  --color-grey-1: rgba(109, 109, 109, 0.74);
  --color-white:rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

html, a {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-back);
  color: var(--color);
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 6rem;
}

.container {
  max-width: 100%;
  padding: 0 8.5rem 0 8.5rem;
  margin-bottom: 2rem;
}  

h1, h2, h3, p, ul, a {
  margin: 0;
}

a {
  color: var(--color);
  text-decoration: inherit;
  transition: 0.15s ease-in-out;
}
a:hover {
  color: var(--color-link);
}

img {
  max-width: 100%;
  min-width: 35px;
  pointer-events: none;
  height: auto;
}

hr {
  border: 1px solid var(--color-grey);
  margin: 0 8rem 0 8rem;
}

#hr-title {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-nucleo-1);
}

h2 {
  font-size: 26px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 22px;
  }
  .container {
    max-width: 960px;
    padding: 0 4rem 0 4rem;
  }
  img {
    width: 28px;
  }
  hr {
    margin: 0 4rem 0 4rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  body {
    font-size: 12px;
  }
  .container {
    max-width: 100%;
    padding: 0 2rem 0 2rem;
  }
  img {
    min-width: 25px;
  }
  hr {
    margin: 0 2rem 0 2rem;
  }
}