footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 8rem 0 2.20rem 0;
}

.footer-div {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  gap: 20px;
}

.footer-div #linkedin {
  cursor: pointer;
}

.footer-div #linkedin:hover {
  opacity: 90%;
}

.footer-div .footer-contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 6px;
}

#devsync {
  font-size: 15px;
  color: var(--color-link);
}

@media (max-width: 768px) {
  .footer-div {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-bottom: 0;
  }
  
  #devsync {
    font-size: 11px;
  }
}

@media (max-width: 1024px) {
  #devsync {
    font-size: 13px;
  }
}