footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
  z-index: 15;
  background-color: var(--color-back);
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 2.5rem 10rem 3.5rem 10rem;
  box-shadow: -1px -2px 2px 0 rgba(221, 221, 221, 0.747);
}
.footer p {
  white-space: nowrap; 
}
.footer .copyright {
  position: absolute;
  background-color: var(--color-nucleo-1);
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 14px 0;
  gap: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.footer h3 {
  white-space: nowrap; 
}

.footer-div {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  gap: 25px;
}

.footer-div .social {
  display: flex;
  gap: 25px;
}
.social a {
  cursor: pointer;
}

.footer-div #whatsapp {
  height: 34px;
}

.footer-div #linkedin {
  height: 34px;
}

.social a {
  transition: 0.15s ease-in-out;
}

.social a:hover {
  opacity: 85%;
}

.footer-div .footer-contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 6px;
}
.footer-contact h3 {
  margin-bottom: 5px;
}
.footer-contact p {
  gap: 8px;
  display: flex;
  align-items: start;
  justify-content: start;
  white-space: nowrap; 
}
.footer-contact svg {
  width: 18px;
  height: 18px;
  color: var(--color-nucleo-1);
}
#devsync {
  font-size: 13px;
  color: var(--color-back);
}
#devsync a {
  color: var(--color-white);
}
#devsync a:hover {
  color: var(--color-grey);
}

@media (max-width: 1024px) {
  #devsync {
    font-size: 12px;
  }
  footer {
    font-size: 13px;
  }
  .footer {
    padding: 2rem 6rem 2rem 6rem;
  }
}

@media (min-width: 769px) and (max-width: 930px) {
  .footer p {
    white-space: wrap; 
  }
}

@media (min-width: 769px) and (max-width: 1261px) {
  .social {
    flex-direction: column;
  }
  .footer {
    padding-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .footer-div {
    flex-direction: column;
    align-items: start;
    gap: 25px;
    margin-bottom: 0;
  }

  .footer-div #whatsapp {
    height: 25px;
  }
  
  .footer-div #linkedin {
    height: 25px;
  }

  footer {
    font-size: 12px;
  }
  
  #devsync {
    font-size: 11px;
  }

  .footer {
    padding: 2.5rem 3rem 4rem 3rem;
  }

  .footer .copyright {
    flex-direction: row;
    font-size: 8px;
  }
}