.form-contact {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 15px;
}
.form-contact .form-group {
  display: flex;
  flex: 1 0 10rem;
  flex-direction: column;
}
.form-contact .form-group input {
  border: 1px solid rgb(212, 212, 212);
  margin: 0 5px 0 0;
  border-radius: 8px;
  background-color: transparent;
  color: black;
}

.form-contact input:hover {
  border-color: var(--color-grey-1);
}

.form-contact button {
  flex: 1 0 5rem;
}

#title-form {
  margin-bottom: 10px;
}

.input-error {
  color: red;
  border-color: red;
}

@media (max-width: 768px) {
  .form-contact {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 1rem;
  }

  .form-contact .form-group {
    flex: 1;
  }

  .form-contact .btn-form {
    flex: 1;
  }
}

@media (min-width: 769px) and (max-width: 877px) {
  .form-contact {
    gap: 1rem;
  }
  .form-contact .form-group {
    flex: 1 0 10rem;
  }
}

@media (min-width: 878px) and (max-width: 1054px) {
  .form-contact .form-group {
    flex: 1 0 10rem;
  }
  .form-contact .form-group input {
    width: 85%;
  }
}

@media (min-width: 1054px) and (max-width: 1440px) {
  .form-contact .form-group {
    flex: 3;
    margin: 0 10px 0 0;
  }
}

@media (min-width: 1441px) {
  .form-contact .form-group input {
    width: 85%;
  }
}