ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 20px;
}
li {
  color: var(--color);
  transition: 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
li:hover {
  color: var(--color-link);
}
li::after {
  width: 0;
  content: '';
  display: block;
  left: 0;
  height: 1px;
  background-color: var(--color-nucleo);
  transition: width 0.40s ease-in-out;
}

li:hover::after {
  width: 100%;
}

@media (min-width: 1231px) {
  .toggle-categories {
    display: none;
  }
}

@media (max-width: 1230px) {
  .categories {
    display: none;
  }
  ul {
    align-items: start;
  }
}

@media (min-width: 1232px) and (max-width: 1250px) {
  ul {
    padding: 0;
  }
}