/* SERVICIOS */
.section-servicios {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.div-texto-servicios {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 8px;
  width: max-content;
}

.title {
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 5px;
}

section h2 {
  color: var(--color-nucleo-1);
}

.div-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin: 5rem 0 2rem 0;
}

.card-servicios {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid var(--color-grey);
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 238);
  width: 180px;
  padding: 25px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 5px 5px 2px 1px var(--color-grey);
}
.card-servicios:hover {
  transform: scale(1.03);
}
.card-servicios img {
  width: 40px;
}
.card-servicios svg {
  color: var(--color-nucleo-1);
}

/* QUIENES SOMOS */
.section-quienes-somos {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 80px;
  background-color: var(--color-grey);
}

#title-quienes-somos {
  font-size: 30px;
}

.div-quienes-somos {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.div-title-quienes-somos {
  display: flex;
  gap: 10px;
  flex-direction: column;  
  align-items: space-between;
  padding-top: 6rem;
  width: 40%;
}

.div-text-title-quienes-somos {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-bottom: 5rem;
}

#title-text {
  margin-top: 2rem;
}

.img-quienes-somos {
  width: 100%;
  height: 450px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 6px 6px 1px 1px var(--color-nucleo-1);
  margin-bottom: 6rem;
}

/* DISTRIBUCION */
.section-distribucion {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div-text-distribucion {
  white-space: wrap;
  text-overflow: hidden;
  margin-bottom: 2rem;
}

.div-text-distribucion p:last-child {
  margin-top: 20px;
}

.div-distribucion {
  width: max-content;
}

 /* CONTACT */
.section-contact {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.section-contact h2 {
  color: var(--color);
}

@media (max-width: 1230px) {
  .section-quienes-somos {
    flex-direction: column;
    gap: 50px;
  }
  .div-title-quienes-somos {
    width: 100%;
  }
  .div-quienes-somos {
    width: 100%;
  }
  .img-quienes-somos {
    height: 300px;
  }
  .div-text-title-quienes-somos {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-bottom: 0rem;
  }
}

@media (min-width: 1231px) {
  .img-quienes-somos {
    margin-top: 6rem;
  }
}

@media (max-width: 768px) {
  .section-servicios {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .div-servicios {
    gap: 30px;
    margin-top: 3rem;
  }
  .div-title-quienes-somos {
    padding-top: 3.5rem;
  }
}
