/* SERVICIOS */
.section-servicios {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-texto-servicios {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.div-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin: 5rem 0 4rem 0;
}

.card-servicios {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid var(--color-grey);
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 238);
  width: 180px;
  padding: 25px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 5px 5px 2px 1px var(--color-grey);
}
.card-servicios:hover {
  transform: scale(1.03);
}

.section-quienes-somos {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-quienes-somos {
  font-size: 30px;
}

.div-quienes-somos {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 40px;
  margin: 5rem 0 4rem 0;
}

.div-img-quienes-somos {
  display: flex;
  gap: 25px;
  flex-direction: column;  
  align-items: space-between;
}

.img-quienes-somos {
  width: 64%;
  height: 450px;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-quienes-somos p {
  display: flex;
}

.text-quienes-somos {
  white-space: wrap;
  text-overflow: hidden;
}

/* DISTRIBUCION */
.section-distribucion {
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.div-distribucion {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
  margin: 4rem 0 6rem 0;
  margin-bottom: 2rem;
}

 /* CONTACT */
.section-contact {
  margin: 4rem 0;
}

@media (max-width: 1230px) {
  .img-quienes-somos {
    width: 100%;
    height: 250px;
  }
}
