#whatsapp-float {
  position: fixed;
  height: 55px;
  margin: 20px;
  bottom: 0;
  right: 0;
  z-index: 10;
}

#whatsapp-float img {
  height: 60px;
}

#whatsapp-float:hover {
  opacity: 90%;
}

@media (min-width: 769px) and (max-width: 1024px) {
  #whatsapp-float {
    height: 45px;
  }
  #whatsapp-float img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  #whatsapp-float {
    height: 42px;
    margin: 12px;
  }

  #whatsapp-float img {
    height: 45px;
  }
}