#whatsapp-float {
  position: fixed;
  height:55px;
  margin: 25px;
  bottom: 0;
  right: 0;
  z-index: 10;
}

#whatsapp-float img {
  height: 60px;
}

#whatsapp-float:hover {
  opacity: 90%;
}

@media (max-width: 1024px) {
  #whatsapp-float {
    height: 45px;
  }

  #whatsapp-float img {
    height: 50px;
  }
}