.form-reg-log {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 1rem 0;
  margin-top: 1rem;
  margin-bottom: 4rem;
  border-radius: 15px;
  width: 100%;
}
.form-reg-log .div-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  gap: 25px;
}
.form-reg-log .form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-reg-log input {
  border: 1px solid rgb(212, 212, 212);
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  background-color: transparent;
  color: black;
}

#title-form {
  margin-bottom: 10px;
}

.div-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  gap: 40px;
}

@media (max-width: 1530px) {
  .div-btn {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
}

@media screen and (max-width: 786px) {
  .form-reg-log {
    margin-bottom: 10rem;
  }
  .form-reg-log .div-form {
    width: 50%;
  }
  .div-btn {
    width: 50%;
  }
}