.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10rem 8px 10rem;
  background-color: rgb(250, 250, 250);
  font-size: 15px;
  color: var(--color-grey-2);
  transition: .2s ease-in-out
}
.header img {
  min-width: 30px;
  width: 30px;
}
.header svg {
  font-size: 18px;
}
.header a {
  color: var(--color-grey-2);
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-contact p {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-social {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-social svg {
  font-size: 25px;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10rem 10px 10rem;
  z-index: 120;
  transition: 0.5s ease-in-out;
  background-color: var(--color-white);
  box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.267);
}

@media (max-width: 1230px) {
  .menu-open {
    padding-bottom: 24rem;
    /* box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.267); */
    transition: 0.15s ease-in-out;
  }
  .header {
    display: none;
  }
}

@media (max-width: 1315px) {
  nav {
    font-size: 15px;  
  }
}

@media (max-width: 1024px) {
  nav {
    align-items: center;
    gap: 100px;
    padding: 10px 6rem 10px 6rem;
  }
  .menu-open {
    padding-bottom: 23rem;
  }
}

@media (max-width: 768px) {
  .menu-open {
    padding-bottom: 22rem;
  }
  nav {
    padding: 10px 3rem 10px 3rem;
  }
}