header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8.5rem 10px 8.5rem;
  z-index: 20;
}

.nav-color {
  transition: 0.25s ease-in-out;
  background-color: var(--color-white);
  box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.267);
}

@media (max-width: 1000px) {
  nav {
    align-items: center;
    gap: 100px;
  }
  .menu-open {
    padding-bottom: 17rem;
    /* box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.267); */
    transition: 0.15s ease-in-out;
  }
}