.docs-redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0;
}    

.div-docs {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    justify-content: center;
    margin: 3rem 0;
}
.div-docs a {
    color: var(--color-black);
    text-decoration: underline;
}
.div-docs h1 {
    padding-bottom: 2rem;
}