.logo {
    display: flex;
    align-items: start;
    gap: 10px;
    padding-left: 30px;
    cursor: pointer;
}
.logo img {
    height: 50px;
}

.div-logo {
    display: flex;
    flex-direction: column;
}