.logo {
    display: flex;
    align-items: start;
    gap: 10px;
    cursor: pointer;
}
.logo img {
    height: 70px;
}

#logo-nucleo {
    min-width: 155px;
}

@media (max-width: 768px) {
    #logo-nucleo {
        width: 100px;
    } 
}