#title {
  font-size: 40px;
  font-weight: 900;
}

.main {
  margin-bottom: 11rem;
}

.main-section {
  color: white;
  padding-top: 7rem;
  /* background-color: var(--color-grey); */
  background-image: url("../../assets/nucleofarma_cover-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: 87%;
}
.main-section h1 {
  color: var(--color-grey);
}
.main-section h1 span {
  color: var(--color-white);
}
.main-section h3 {
  color: var(--color-grey);
}
.btn-contact {
  background-color: transparent;
  border: 1px solid white;
  transition: 0.3s ease-in-out;
}
.btn-contact:hover {
  background-color: var(--color-white);
  color: var(--color);
}
.btn-contact:focus, .btn-contact:focus-visible {
  transform: scale(0.97);
}

.scroll-down {
  cursor: pointer;
  padding-top: 3rem;
  color: var(--color-black);
  padding-bottom: 0rem;
  font-size: 16px;
  transition: 0.15s ease-in-out;
}
.scroll-down:hover {
  color: var(--color-grey-1);
}

@media (max-width: 768px) {
  .title-main { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #title {
    text-align: center;
  }
}